*.iml
.gradle
/local.properties
.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
example/publisher-key.json
example/release.keystore

# not ignore
!.idea/codeStyleSettings.xml

fabric.properties